@model IEnumerable<ApplicationUser>

<h2>Hantera användare</h2>

<table class="table table-bordered table-sm">
    @foreach (var user in Model)
    {
        <tr class="">
            <td class="col-6">
                <a   asp-action="UpdateUser" asp-route-Id="@user.Id">@user.FullName</a>
            </td>
        </tr>
    }
</table>