@using Microsoft.AspNetCore.Identity
@using ArtWebshop.Data
@inject AppDbContext appContext
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{ 
    var firstName = @appContext.Users
                        .Where(u => u.UserName == @User.Identity.Name)
                        .Select(u => u.FirstName)
                        .FirstOrDefault();
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Artist"))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity.Name
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Artist" asp-action="Index">Min sida</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Artist" asp-action="EditArtist">Redigera profil</a></li>
            </ul>
        </li>
    }
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hej @firstName!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrera</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
        </li>
    }
</ul>
