@model ArtistProductViewModel

<div class="d-flex flex-row mt-5 p-3">
    @foreach (var item in Model.Product)
    {
        <div class="col-sm mb-4 mr-4 p-2" min-width="350" min-height="350">
            <div class="d-flex flex-row">
                <img src="@item.PictureLink" width="330" height="330" />
            </div>
            <div class="d-flex flex-row pr-2">
                Verk:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item.Title
            </div>
            <div class="d-flex flex-row pr-2">
                Konstnär:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item.Artist.ArtistName
            </div>
            <div class="d-flex flex-row">
                <div class="col">Pris: @item.Price kr</div>
                <div class="col"><button class="btn-primary">Köp</button></div>
            </div>
        </div>
    }
</div>
