@model ArtistProductViewModel

<div class="col">
    <form id="formSortFilter" method="POST" asp-controller="ProductTemp" asp-action="sortFilter">
        <label for="sortCriteria" style="margin-right: 10px">Sortera</label>
        <select id="selectCriteria" name="sortCriteria" onchange="this.form.submit();">
            <option value="title">Tavla</option>
            <option value="artist">Konstnär</option>
            <option value="price">Pris</option>
        </select>

        <select id="selectAscDesc" name="ascDesc" onchange="this.form.submit();">
            <option value="asc" selected>Asc</option>
            <option value="desc">Desc</option>
        </select>
    </form>
</div>

<div class="col">
    <Label for="filter" style="margin-right: 10px">Filtrera</Label>
    <input name="filter" type="text" />
    <button type="submit" class="btn-primary">Sök</button>
</div>