@model ArtistProductViewModel

@{
    ViewData["Title"] = "List Products (Temp)";
}

<div id="Filter" class="row">
    <partial name="_SortFilterPartial" model="Model" />
</div>

<div id="cards" class="row">
    <partial name="_ProductCardPartial" model="Model" />
</div>
