@model ListProductsViewModel

@{
    ViewData["Title"] = "List Products (Temp)";
}

<div id="Filter" class="row mt-5">
        <partial name="_SortFilterPartial" model=" Model"/>
</div>
<input type="hidden" name="@Model.sortCriteria" />
<input type="hidden" name="@Model.ascDesc" />

<div id="cards" class="row mt-3">
    @foreach (var item in Model.Products)
    {
        <partial name="_ArtCardPartial" model="item" />
    }
</div>