@model ListProductsViewModel

@{
    ViewData["Title"] = "List Products (Temp)";
}

<div id="Filter" class="row mt-5">
        <partial name="_SortFilterPartial" model="Model"/>
</div>
<input type="hidden" name="@Model.sortCriteria" />
<input type="hidden" name="@Model.ascDesc" />

<div id="cards" class="d-flex d-flex align-content-start flex-wrap mt-3">
    @foreach (var item in Model.Products)
    {
        <partial name="_ArtCardPartial" model="new ListProductsViewModel {Product = item, sortCriteria = Model.sortCriteria, ascDesc= Model.ascDesc }" />
    }
    <partial name="_AddedToBasketNotification" />
</div>