@model Artist

@{
    ViewData["Title"] = "EditArtist";
}

<h1>Ändra profilinformation</h1>

<h4>@User.Identity.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditArtist">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArtistId" />
            <input type="hidden" asp-for="UserId" />

            <div class="form-group">
                <label asp-for="ArtistName" class="control-label"></label>
                <input asp-for="ArtistName" class="form-control" />
                <span asp-validation-for="ArtistName" class="text-danger"></span>
            </div>

            <!--UPLOAD IMG-->
            <div class="form-group">
                <label asp-for="ProfilePicture" class="control-label"></label>
                <input asp-for="ProfilePicture" class="form-control" />
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Presentation" class="control-label"></label>
                <input asp-for="Presentation" class="form-control" />
                <span asp-validation-for="Presentation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
