@using Microsoft.AspNetCore.Identity
@using ArtWebshop.Data
@inject AppDbContext appContext
@inject ProductDbContext ProductContext
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model Artist

@{ ViewData["Title"] = "ArtistPage"; }


<h1>@Model.ArtistName</h1>

<div>
    <!--<div class="d-flex justify-content-start">
        <img src="Model.Artist.FirstOrDefault().ProfilePicture" />
    </div>-->
    <br />
        <div class="col-lg-1">
            @Model.Presentation
        </div>
</div>


