@model ShoppingCartViewModel

@if (Model.shoppingCart.ShoppingCartItems != null)
{
    <li class="nav-item dropdown d-block">

        <a @*asp-controller="ShoppingCart"
           asp-action="Index"*@ class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
            <i class="fas fa-shopping-cart"></i><b class="caret"></b>
        </a>
        <ul id="app" class="dropdown-menu mega-dropdown-menu dropdown-menu-end dropend container-xxl p-0" style="width: 400px">
            <li>
                <table class="table table-hover table-bordered mb-0" id="app">
                    <thead>
                        <tr>
                            <th class="text-left col-6" scope="col">Produkt</th>
                            <th class="text-right col-2" scope="col">Antal</th>
                            <th class="text-right col-3" scope="col">Pris</th>
                            <th class="col-1" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <tr is="cart-rows" v-for="item in shoppingCartItems"
                                       v-bind:key="item.id"
                                       v-bind:item="item"></tr>
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" class="text-right">Total:</td>
                            <td colspan="2" class="text-left">
                                {{total}} kr
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="p-0" >
                                <div class="d-grid">
                                    <button class="btn btn-warning text-center m-0" type="button" onclick="location.href='@Url.Action("Checkout", "Order")'">Gå till Kassa</button>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </li>
        </ul>
    </li>
    <script src="~/js/shopping_cart.js"></script>
}

<script>
    $('ul.dropdown-menu.mega-dropdown-menu').on('click', function (event) {
        event.stopPropagation();
    });

</script>