
@model List<Product>
<div class="d-flex justify-content-center" id="container">
    <div class="wrapper">
        <table>
            <thead>
                <tr>
                    <td>
                        <h3>Paintings:</h3>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var painting in Model)
                {
                    <tr>
                        <td>
                            @painting.Title
                        </td>
                        <td>
                            <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-productId="@painting.ProductId">Add to cart</a>
                        </td>
                    </tr>
                }
                <tr>
                    <a asp-controller="ShoppingCart" asp-action="Index">Go to cart</a>
                </tr>
            
            </tbody>
        </table>
    </div>
</div>